<div class="box text-center">
    <h2>Welcome Player 1</h2>
    <p>
        Show off your GitHub juggling skills!
        Octo Juggler creates a dynamic badge for your profile README.
    </p>
    <p>
        The Octocat juggles balls based on your open source contributions.
        More repos = More balls!
    </p>
</div>

<div class="text-center" style="margin-top: 40px;">
    <p style="color: var(--neon-pink); animation: blink 0.5s infinite;">INSERT COIN TO START</p>
    <br>
    <a href="/login" class="btn">LOGIN WITH GITHUB</a>
</div>

<div class="box" style="margin-top: 50px;">
    <h3>HOW TO PLAY</h3>
    <ul style="list-style-type: square; padding-left: 20px;">
        <li>Login with your GitHub account.</li>
        <li>Get your personal badge URL.</li>
        <li>Add it to your profile README.</li>
        <li>Juggle your way to the top!</li>
    </ul>
</div>