<div class="box">
    <h2>PROJECT INFO</h2>
    <p>
        Octo Juggler is an open-source project designed to gamify your GitHub profile.
    </p>

    <h3>LICENSE</h3>
    <p>Distributed under the <strong>BSD-3-Clause License</strong>.</p>

    <h3>DEVELOPER</h3>
    <p>
        <strong>NAME:</strong> Javi López G.<br>
        <strong>EMAIL:</strong> <a href="mailto:mail@javilopezg.com">mail@javilopezg.com</a><br>
        <strong>GITHUB:</strong> <a href="https://github.com/javilopezg" target="_blank">@javilopezg</a>
    </p>

    <h3>SOURCE CODE</h3>
    <p>
        Check out the code at: <br>
        <a href="https://github.com/javilopezg/octocat" target="_blank">github.com/javilopezg/octocat</a>
    </p>

    <div style="margin-top: 30px; border-top: 1px dashed #666; padding-top: 10px; font-size: 1rem;">
        <h3 style="font-size: 1rem;">DISCLAIMER</h3>
        <p>
            This project is NOT affiliated with, endorsed by, or connected to GitHub, Microsoft, or any of their
            subsidiaries.
            "Octocat" is a trademark of GitHub, Inc.
        </p>
        <p>
            Bernardo, peace/love! ✌️ We love developer tools from everyone.
            Yes, Antigravity rocks! but you know, the whole Google is using Microsoft tools now...
            What do you say about that?.
        </p>
    </div>
</div>

<div class="text-center">
    <a href="/" class="btn">
        < BACK TO TITLE</a>
</div>